name: Run WELA Audit(ASD)

on:
  schedule:
    - cron: '0 10 * * *'
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
    runs-on: windows-11-arm
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout WELA repository
        uses: actions/checkout@v4
        with:
          repository: Yamato-Security/WELA
          path: WELA

      - name: Run auditpol command
        run: |
          auditpol /get /category:*

      - name: Run auditpol set command
        run: |
          cmd /c "auditpol /set /subcategory:{0CCE922B-69AE-11D9-BED3-505054503030} /success:disable /failure:disable"

      - name: Run configure bat(ASD)
        run: |
          cd bat
          ./ASD.bat

      - name: Run WELA.ps1 audit-settings(ASD)
        run: |
          cd WELA
          ./WELA.ps1 audit-settings -Baseline ASD

      - name: Convert audit csv result(ASD)
        run: |
          # WELA-Audit-Result.csvのRecommendedSetting列を空白にする
          $auditCsvPath = "./WELA/WELA-Audit-Result.csv"
          $auditData = Import-Csv $auditCsvPath
          $auditData | ForEach-Object { $_.RecommendedSetting = "" }
          $auditData | Export-Csv $auditCsvPath -NoTypeInformation -Encoding UTF8

      - name: Move WELA result files (ASD)
        run: |
          cd WELA
          Copy-Item *.csv ../data/Australian_Signals_Directorate/ -Force

      - name: Delete WELA repo
        run: |
          Remove-Item -Recurse -Force WELA

      - name: Pull Git repo
        run: |
          git pull origin main

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Apply changes
