name: Check auditpol settings

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ windows-11-arm, windows-2022, windows-2025]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Run auditpol command
        run: |
          auditpol /get /category:*